#add-note {
  margin: 10px 20px;
  padding: 10px 20px;
  position: fixed;
  right: 10px;
  top: 10px;
}

.note-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.note {
  width: 300px;
  height: 300px;
  background-color: var(--background);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  box-shadow: 6px 6px var(--primary);
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.note:hover{
  box-shadow: 12px 12px var(--primary);
    transform: translateY(-6px);
}

.text-input{
    background-color: var(--highlight);
    max-width: 280px;
    max-height: 280px;
    min-width: 100px;
    min-height: 100px;
    color: var(--primary);
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    overflow: hidden;
}

.tool{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    gap: 15px;
}

.fas{
    color: var(--primary);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.fas:hover{
    transform: scale(1.4) rotateZ(25deg) rotateY(25deg);
}

.text-input:focus{
    outline: none;
}

